<div class="accordion" id="accordionExample">
    <div *ngFor="let historico of arrayHistorico; let i=index" class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse_{{i}}" aria-expanded="true" attr.aria-controls="#collapse_{{i}}">
          {{ historico.filme }}
        </button>
      </h2>
      <div id="collapse_{{i}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Ingressos: {{historico.ingressos}}</p>
        </div>
      </div>
    </div>
</div>